#Imports

In [ ]:
import pandas as pd
import numpy as np

seed = 93646

# Carga de datos

In [ ]:
shap_xg_boost = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_xg_boost.csv")
shap_dt = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_dt.csv")
shap_mlp = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_mlp.csv")
shap_knn = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_knn.csv")
shap_rf = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_rf.csv")
shap_mean_values = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_mean_values.csv")

# An√°lisis de datos

In [ ]:
shap_mean_values.pop("Unnamed: 0");

In [ ]:
shap_mean_values.head()

   CODE_GENDER_0  CODE_GENDER_1  ...  YEARS_EMPLOYED_43    Model
0      -0.039346      -0.016938  ...          -0.055570  xgboost
1      -0.002027       0.003805  ...          -0.000062       DT
2      -0.020101      -0.053200  ...           0.003647      MLP
3      -0.004708      -0.006154  ...          -0.002048      KNN

[4 rows x 141 columns]

#Escalamos los valores entre 100 y -100

In [ ]:
from sklearn.preprocessing import normalize

shap_mean_norm = shap_mean_values.copy()

shap_mean_norm.pop("Model")

cols_names = shap_mean_norm.columns

shap_mean_norm = normalize(shap_mean_norm)*100

shap_mean_norm = pd.DataFrame(shap_mean_norm, columns = cols_names)

## M√©tricas

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error, mean_absolute_error

for i in range(shap_mean_norm.shape[0]):
  for j in range(shap_mean_norm.shape[0]):
    if i != j:
      r2 = r2_score(shap_mean_norm.iloc[i][:].to_numpy(),shap_mean_norm.iloc[j][:].to_numpy())
      mse = mean_squared_error(shap_mean_norm.iloc[i][:].to_numpy(),shap_mean_norm.iloc[j][:].to_numpy())
      mae = mean_absolute_error(shap_mean_norm.iloc[i][:].to_numpy(),shap_mean_norm.iloc[j][:].to_numpy())

      name1 = shap_mean_values.iloc[i][-1:].to_numpy()[0]
      name2 = shap_mean_values.iloc[j][-1:].to_numpy()[0]

      print("r2 Score for {} and {} : {}".format(name1,name2,r2))
      print("Mean squared error for {} and {} : {}".format(name1,name2,mse))
      print("Mean absolute error for {} and {} : {}".format(name1,name2,mae))
      print("\n")

r2 Score for xgboost and DT : -2.725319324844746
Mean squared error for xgboost and DT : 198.08149938453263
Mean absolute error for xgboost and DT : 6.782446089571855


r2 Score for xgboost and MLP : -0.8146972934848373
Mean squared error for xgboost and MLP : 96.49050980012576
Mean absolute error for xgboost and MLP : 5.3778301126089465


r2 Score for xgboost and KNN : 0.05387685053764124
Mean squared error for xgboost and KNN : 50.30696047934915
Mean absolute error for xgboost and KNN : 3.7994892812769656


r2 Score for DT and xgboost : -1.8438338302959645
Mean squared error for DT and xgboost : 198.08149938453263
Mean absolute error for DT and xgboost : 6.782446089571855


r2 Score for DT and MLP : -2.3594482468343965
Mean squared error for DT and MLP : 233.99557975173337
Mean absolute error for DT and MLP : 6.28425891312816


r2 Score for DT and KNN : -1.633271569049478
Mean squared error for DT and KNN : 183.41521052574902
Mean absolute error for DT and KNN : 4.973010457793383


r2 Score for MLP and xgboost : -0.5753370913754321
Mean squared error for MLP and xgboost : 96.49050980012576
Mean absolute error for MLP and xgboost : 5.3778301126089465


r2 Score for MLP and DT : -2.820291930930633
Mean squared error for MLP and DT : 233.99557975173337
Mean absolute error for MLP and DT : 6.28425891312816


r2 Score for MLP and KNN : -0.9531629027141424
Mean squared error for MLP and KNN : 119.63260767321519
Mean absolute error for MLP and KNN : 5.845758918260783


r2 Score for KNN and xgboost : 0.2424257543843531
Mean squared error for KNN and xgboost : 50.30696047934915
Mean absolute error for KNN and xgboost : 3.7994892812769656


r2 Score for KNN and DT : -1.7620559545734866
Mean squared error for KNN and DT : 183.41521052574902
Mean absolute error for KNN and DT : 4.973010457793383


r2 Score for KNN and MLP : -0.8015515476486048
Mean squared error for KNN and MLP : 119.63260767321519
Mean absolute error for KNN and MLP : 5.845758918260783

# Valores de alto impacto

In [ ]:
vals_max = []
for i in shap_mean_norm.max():
  vals_max.append(i)

vals_min = []
for i in shap_mean_norm.min():
  vals_min.append(i)

In [ ]:
shap_mean_norm["YEARS_EMPLOYED_34"].max() > 0

True

In [ ]:
high_cols = []
for col in shap_mean_norm.columns:
  c_col = shap_mean_norm[col]
  if c_col.max() >= 15  or c_col.min() <= -15:
    high_cols.append(c_col.name)

In [ ]:
shap_mean_norm[high_cols]

   CODE_GENDER_1  CNT_CHILDREN_1  ...  YEARS_EMPLOYED_32  YEARS_EMPLOYED_40
0      -1.391938      -25.843209  ...         -18.002374          -5.792211
1       1.226373        0.218315  ...          -1.779503          -0.237157
2     -17.435391       11.078085  ...         -18.656020         -23.819770
3      -1.561304      -13.020069  ...          -0.896196          -0.836099

[4 rows x 15 columns]

# To do

- Observar si las variables falladas y predecidas de los modelos son las mismas en su mayor√≠a. De esta manera se podr√° saber si las diferencias en los shapley values dependen del tipo de modelo o de los datos

# Prueba con Titanic dataset

In [ ]:
df= pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv")

df.pop('Name')

df = pd.get_dummies(df, dummy_na= True).dropna()

df.head()

   PassengerId  Survived  Pclass  ...  Embarked_Q  Embarked_S  Embarked_nan
0            1         0       3  ...           0           1             0
1            2         1       1  ...           0           0             0
2            3         1       3  ...           0           1             0
3            4         1       1  ...           0           1             0
4            5         0       3  ...           0           1             0

[5 rows x 844 columns]

In [ ]:
X = df.drop('Survived', axis= 1)
y = df['Survived']

# Entrenamos nuestros modelos

In [ ]:
from sklearn.model_selection import train_test_split
!pip install shap
import shap

Collecting shap
  Downloading https://files.pythonhosted.org/packages/b9/f4/c5b95cddae15be80f8e58b25edceca105aa83c0b8c86a1edad24a6af80d3/shap-0.39.0.tar.gz (356kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 358kB 8.3MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from shap) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from shap) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from shap) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from shap) (1.1.5)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.7/dist-packages (from shap) (4.41.1)
Collecting slicer==0.0.7
  Downloading https://files.pythonhosted.org/packages/78/c2/b3f55dfdb8af9812fdb9baf70cacf3b9e82e505b2bd4324d588888b81202/slicer-0.0.7-py3-none-any.whl
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from shap) (0.51.2)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from shap) (1.3.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->shap) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2.8.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba->shap) (57.0.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba->shap) (0.34.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->shap) (1.15.0)
Building wheels for collected packages: shap
  Building wheel for shap (setup.py) ... done
  Created wheel for shap: filename=shap-0.39.0-cp37-cp37m-linux_x86_64.whl size=491623 sha256=f8b38798f7122d83f9570e0e1d0a26ce6e01e6e7ad2e0f38accb0a6c9162b584
  Stored in directory: /root/.cache/pip/wheels/15/27/f5/a8ab9da52fd159aae6477b5ede6eaaec69fd130fa0fa59f283
Successfully built shap
Installing collected packages: slicer, shap
Successfully installed shap-0.39.0 slicer-0.0.7

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = seed)

In [ ]:
def variable_impact(shap_values,X,columns):
  impact = []
  for col,feature in enumerate(columns):
    for unique in X[feature].unique():
      index = X[X[feature] == unique][feature].index
      mean = 0
      for i in index:
        mean += shap_values[i][col]
      mean = mean/len(index)
      impact.append(mean)
  return impact

# XGBoost

In [ ]:
from sklearn.metrics import confusion_matrix
from xgboost import XGBClassifier

In [ ]:
xgb_class = XGBClassifier()

xgb_class.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
confusion_matrix(y_test, xgb_class.predict(X_test))

array([[95, 12],
       [21, 51]])

In [ ]:
#Dependiendo de la cantadidad de √°rboles usado en nuestro modelo puede tardar una cantidad de tiempo elevada
explainer_xgboost = shap.TreeExplainer(xgb_class)
shap_values_xgboost_all = explainer_xgboost.shap_values(X)


shap_values_xgboost = np.zeros(len(shap_values_xgboost_all[0]))
for i,_ in enumerate(xgb_class.predict(X)):
    shap_values_xgboost += shap_values_xgboost_all[i]

mean_xgb_shap = shap_values_xgboost/len(xgb_class.predict(X))

## Random forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf_model = RandomForestClassifier()

rf_model.fit(X_train,y_train)

confusion_matrix(y_test, rf_model.predict(X_test))

array([[97, 10],
       [23, 49]])

In [ ]:
explainer_rf = shap.Explainer(rf_model)
shap_values_rf_all = explainer_rf.shap_values(X, check_additivity=False)
preds = rf_model.predict(X)
shap_values_rf_t = []
for i,_ in enumerate(shap_values_rf_all[0]):
  shap_values_rf_t.append(shap_values_rf_all[preds[i]][i])

shap_values_rf = np.zeros(len(shap_values_rf_t[0]))
for i,_ in enumerate(rf_model.predict(X)):
    shap_values_rf += shap_values_rf_t[i]

mean_shap_rf = shap_values_rf/len(preds)

## Analisis Shap values

In [ ]:
final_df = pd.DataFrame(data= [mean_xgb_shap, mean_shap_rf],columns = X.columns)

In [ ]:
from sklearn.preprocessing import normalize

final_df_norm = final_df.copy()

final_df_norm = normalize(final_df_norm)*100

final_df_norm = pd.DataFrame(final_df_norm, columns = final_df.columns)

In [ ]:
final_df_norm

   PassengerId     Pclass       Age  ...  Embarked_Q  Embarked_S  Embarked_nan
0    -1.261417  93.323285 -7.930687  ...    1.007349    0.000000      0.000000
1   -15.755332  26.270076  9.644891  ...   -6.899207    7.279842      0.111101

[2 rows x 843 columns]

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error, mean_absolute_error

for i in range(final_df_norm.shape[0]):
  for j in range(final_df_norm.shape[0]):
    if i != j:
      r2 = r2_score(final_df_norm.iloc[i][:].to_numpy(),final_df_norm.iloc[j][:].to_numpy())
      mse = mean_squared_error(final_df_norm.iloc[i][:].to_numpy(),final_df_norm.iloc[j][:].to_numpy())
      mae = mean_absolute_error(final_df_norm.iloc[i][:].to_numpy(),final_df_norm.iloc[j][:].to_numpy())

      name1 = "XGBoost"
      name2 = "Random Forest"

      print("r2 Score for {} and {} : {}".format(name1,name2,r2))
      print("Mean squared error for {} and {} : {}".format(name1,name2,mse))
      print("Mean absolute error for {} and {} : {}".format(name1,name2,mae))
      print("\n")

r2 Score for XGBoost and Random Forest : -0.7113408837755708
Mean squared error for XGBoost and Random Forest : 20.297307542526536
Mean absolute error for XGBoost and Random Forest : 0.9431450374092838


r2 Score for XGBoost and Random Forest : -0.7161587159293241
Mean squared error for XGBoost and Random Forest : 20.297307542526536
Mean absolute error for XGBoost and Random Forest : 0.9431450374092838