#Imports

In [1]:
import pandas as pd
import numpy as np

seed = 93646

# Carga de datos

In [2]:
shap_xg_boost = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_xg_boost.csv")
shap_dt = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_dt.csv")
shap_mlp = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_mlp.csv")
shap_knn = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_knn.csv")
shap_rf = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_rf.csv")
shap_mean_values = pd.read_csv("https://raw.githubusercontent.com/FranArenas/Fran_Arenas_XAI_credit_card/main/results/shap_mean_values.csv")

# An√°lisis de datos

In [3]:
shap_mean_values.pop("Unnamed: 0");

In [4]:
shap_mean_values.head()

   CODE_GENDER_0  CODE_GENDER_1  ...  YEARS_EMPLOYED_43    Model
0      -0.039346      -0.016938  ...          -0.055570  xgboost
1      -0.002027       0.003805  ...          -0.000062       DT
2      -0.020101      -0.053200  ...           0.003647      MLP
3      -0.004708      -0.006154  ...          -0.002048      KNN

[4 rows x 141 columns]

#Escalamos los valores entre 100 y -100

In [7]:
from sklearn.preprocessing import normalize

shap_mean_norm = shap_mean_values.copy()

shap_mean_norm.pop("Model")

cols_names = shap_mean_norm.columns

shap_mean_norm = normalize(shap_mean_norm)*100

shap_mean_norm = pd.DataFrame(shap_mean_norm, columns = cols_names)

## M√©tricas

In [8]:
from sklearn.metrics import r2_score,mean_squared_error, mean_absolute_error

for i in range(shap_mean_norm.shape[0]):
  for j in range(shap_mean_norm.shape[0]):
    if i != j:
      r2 = r2_score(shap_mean_norm.iloc[i][:].to_numpy(),shap_mean_norm.iloc[j][:].to_numpy())
      mse = mean_squared_error(shap_mean_norm.iloc[i][:].to_numpy(),shap_mean_norm.iloc[j][:].to_numpy())
      mae = mean_absolute_error(shap_mean_norm.iloc[i][:].to_numpy(),shap_mean_norm.iloc[j][:].to_numpy())

      name1 = shap_mean_values.iloc[i][-1:].to_numpy()[0]
      name2 = shap_mean_values.iloc[j][-1:].to_numpy()[0]

      print("r2 Score for {} and {} : {}".format(name1,name2,r2))
      print("Mean squared error for {} and {} : {}".format(name1,name2,mse))
      print("Mean absolute error for {} and {} : {}".format(name1,name2,mae))
      print("\n")

r2 Score for xgboost and DT : -2.725319324844746
Mean squared error for xgboost and DT : 198.08149938453263
Mean absolute error for xgboost and DT : 6.782446089571855


r2 Score for xgboost and MLP : -0.8146972934848373
Mean squared error for xgboost and MLP : 96.49050980012576
Mean absolute error for xgboost and MLP : 5.3778301126089465


r2 Score for xgboost and KNN : 0.05387685053764124
Mean squared error for xgboost and KNN : 50.30696047934915
Mean absolute error for xgboost and KNN : 3.7994892812769656


r2 Score for DT and xgboost : -1.8438338302959645
Mean squared error for DT and xgboost : 198.08149938453263
Mean absolute error for DT and xgboost : 6.782446089571855


r2 Score for DT and MLP : -2.3594482468343965
Mean squared error for DT and MLP : 233.99557975173337
Mean absolute error for DT and MLP : 6.28425891312816


r2 Score for DT and KNN : -1.633271569049478
Mean squared error for DT and KNN : 183.41521052574902
Mean absolute error for DT and KNN : 4.973010457793383


r2 Score for MLP and xgboost : -0.5753370913754321
Mean squared error for MLP and xgboost : 96.49050980012576
Mean absolute error for MLP and xgboost : 5.3778301126089465


r2 Score for MLP and DT : -2.820291930930633
Mean squared error for MLP and DT : 233.99557975173337
Mean absolute error for MLP and DT : 6.28425891312816


r2 Score for MLP and KNN : -0.9531629027141424
Mean squared error for MLP and KNN : 119.63260767321519
Mean absolute error for MLP and KNN : 5.845758918260783


r2 Score for KNN and xgboost : 0.2424257543843531
Mean squared error for KNN and xgboost : 50.30696047934915
Mean absolute error for KNN and xgboost : 3.7994892812769656


r2 Score for KNN and DT : -1.7620559545734866
Mean squared error for KNN and DT : 183.41521052574902
Mean absolute error for KNN and DT : 4.973010457793383


r2 Score for KNN and MLP : -0.8015515476486048
Mean squared error for KNN and MLP : 119.63260767321519
Mean absolute error for KNN and MLP : 5.845758918260783

# Valores de alto impacto

In [9]:
vals_max = []
for i in shap_mean_norm.max():
  vals_max.append(i)

vals_min = []
for i in shap_mean_norm.min():
  vals_min.append(i)

In [10]:
shap_mean_norm["YEARS_EMPLOYED_34"].max() > 0

True

In [11]:
high_cols = []
for col in shap_mean_norm.columns:
  c_col = shap_mean_norm[col]
  if c_col.max() >= 15  or c_col.min() <= -15:
    high_cols.append(c_col.name)

In [12]:
shap_mean_norm[high_cols]

   CODE_GENDER_1  CNT_CHILDREN_1  ...  YEARS_EMPLOYED_32  YEARS_EMPLOYED_40
0      -1.391938      -25.843209  ...         -18.002374          -5.792211
1       1.226373        0.218315  ...          -1.779503          -0.237157
2     -17.435391       11.078085  ...         -18.656020         -23.819770
3      -1.561304      -13.020069  ...          -0.896196          -0.836099

[4 rows x 15 columns]

# To do

- Observar si las variables falladas y predecidas de los modelos son las mismas en su mayor√≠a. De esta manera se podr√° saber si las diferencias en los shapley values dependen del tipo de modelo o de los datos

# Prueba con Iris dataset

In [13]:
from sklearn.datasets import load_iris

In [14]:
data = load_iris()

df_iris = pd.DataFrame(data.data, columns = data.feature_names)

In [15]:
df_iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

# Entrenamos nuestros modelos

In [16]:
from sklearn.model_selection import train_test_split
!pip install shap
import shap

Collecting shap
  Downloading https://files.pythonhosted.org/packages/b9/f4/c5b95cddae15be80f8e58b25edceca105aa83c0b8c86a1edad24a6af80d3/shap-0.39.0.tar.gz (356kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 358kB 4.0MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from shap) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from shap) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from shap) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from shap) (1.1.5)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.7/dist-packages (from shap) (4.41.1)
Collecting slicer==0.0.7
  Downloading https://files.pythonhosted.org/packages/78/c2/b3f55dfdb8af9812fdb9baf70cacf3b9e82e505b2bd4324d588888b81202/slicer-0.0.7-py3-none-any.whl
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from shap) (0.51.2)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from shap) (1.3.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->shap) (1.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2018.9)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba->shap) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba->shap) (57.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->shap) (1.15.0)
Building wheels for collected packages: shap
  Building wheel for shap (setup.py) ... done
  Created wheel for shap: filename=shap-0.39.0-cp37-cp37m-linux_x86_64.whl size=491619 sha256=098b442d673826ff4da5b0874ef6a2cd118e1509cd552d16b798531d6535780d
  Stored in directory: /root/.cache/pip/wheels/15/27/f5/a8ab9da52fd159aae6477b5ede6eaaec69fd130fa0fa59f283
Successfully built shap
Installing collected packages: slicer, shap
Successfully installed shap-0.39.0 slicer-0.0.7

In [17]:
X_train, X_test, y_train, y_test = train_test_split(df_iris, data.target, test_size = 0.25, random_state = seed)

In [18]:
def variable_impact(shap_values,X,columns):
  impact = []
  for col,feature in enumerate(columns):
    for unique in X[feature].unique():
      index = X[X[feature] == unique][feature].index
      mean = 0
      for i in index:
        mean += shap_values[i][col]
      mean = mean/len(index)
      impact.append(mean)
  return impact

# XGBoost

In [19]:
from sklearn.metrics import confusion_matrix
from xgboost import XGBClassifier

In [20]:
xgb_class = XGBClassifier()

xgb_class.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [21]:
confusion_matrix(y_test, xgb_class.predict(X_test))

array([[ 9,  0,  0],
       [ 0, 11,  2],
       [ 0,  2, 14]])

In [22]:
#Dependiendo de la cantadidad de √°rboles usado en nuestro modelo puede tardar una cantidad de tiempo elevada
explainer_xgboost = shap.TreeExplainer(xgb_class)
shap_values_xgboost_all = explainer_xgboost.shap_values(df_iris)


shap_values_xgboost = []
for i,val in enumerate(xgb_class.predict(df_iris)):
    shap_values_xgboost.append(shap_values_xgboost_all[val][i])

In [23]:
mean_xgb_shap = variable_impact(shap_values_xgboost, df_iris, df_iris.columns)

## Random fores

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
rf_model = RandomForestClassifier()

rf_model.fit(X_train,y_train)

confusion_matrix(y_test, rf_model.predict(X_test))

array([[ 9,  0,  0],
       [ 0, 11,  2],
       [ 0,  0, 16]])

In [26]:
explainer_xgboost = shap.TreeExplainer(rf_model)
shap_values_rf_all = explainer_xgboost.shap_values(df_iris)

shap_values_rf = []
for i,val in enumerate(rf_model.predict(df_iris)):
    shap_values_rf.append(shap_values_rf_all[val][i])

In [27]:
mean_shap_rf = variable_impact(shap_values_rf, df_iris, df_iris.columns)

## Analisis Shap values

In [28]:
all_values_names = []
for col,feature in enumerate(df_iris.columns):
  for unique in df_iris[feature].unique():
    all_values_names.append("{}_{}".format(feature,unique))

In [29]:
final_df = pd.DataFrame(data= [mean_xgb_shap, mean_shap_rf],columns = all_values_names)

In [30]:
from sklearn.preprocessing import normalize

final_df_norm = final_df.copy()

final_df_norm = normalize(final_df_norm)*100

final_df_norm = pd.DataFrame(final_df_norm, columns = final_df.columns)

In [31]:
from sklearn.metrics import r2_score,mean_squared_error, mean_absolute_error

for i in range(final_df_norm.shape[0]):
  for j in range(final_df_norm.shape[0]):
    if i != j:
      r2 = r2_score(final_df_norm.iloc[i][:].to_numpy(),final_df_norm.iloc[j][:].to_numpy())
      mse = mean_squared_error(final_df_norm.iloc[i][:].to_numpy(),final_df_norm.iloc[j][:].to_numpy())
      mae = mean_absolute_error(final_df_norm.iloc[i][:].to_numpy(),final_df_norm.iloc[j][:].to_numpy())

      name1 = final_df_norm.iloc[i][-1:].to_numpy()[0]
      name2 = final_df_norm.iloc[j][-1:].to_numpy()[0]

      print("r2 Score for {} and {} : {}".format(name1,name2,r2))
      print("Mean squared error for {} and {} : {}".format(name1,name2,mse))
      print("Mean absolute error for {} and {} : {}".format(name1,name2,mae))
      print("\n")

r2 Score for 18.84069911389493 and 14.892270660665549 : 0.44632629283849456
Mean squared error for 18.84069911389493 and 14.892270660665549 : 28.189329387262514
Mean absolute error for 18.84069911389493 and 14.892270660665549 : 3.740258718252777


r2 Score for 14.892270660665549 and 18.84069911389493 : 0.14809710170059043
Mean squared error for 14.892270660665549 and 18.84069911389493 : 28.189329387262514
Mean absolute error for 14.892270660665549 and 18.84069911389493 : 3.740258718252777